BUM37G_1008/bum37g_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">


    <xs:simpleType name="NapTípus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hetfo"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OraTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eloadas"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="IdopontTípus">
        <xs:attribute name="nap" type="NapTípus" use="required"/>
        <xs:attribute name="tol" type="xs:string" use="required"/>
        <xs:attribute name="ig" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="OraTípus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="IdopontTípus"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="tipus" type="OraTipus" use="required"/>
    </xs:complexType>

    <xs:element name="XY_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="OraTípus" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
