BUM37G_1008/bum37g_orarend1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XY_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> hetfo  kedd  szerda </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targy"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="nap" use="optional"/>
                      <xs:attribute type="xs:byte" name="tol" use="optional"/>
                      <xs:attribute type="xs:byte" name="ig" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="helyszin"/>
              <xs:element type="xs:string" name="oktato"/>
              <xs:element type="xs:string" name="szak"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="tipus" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>