BUM37G_1008/bum37g_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Gyökérelem -->
    <xs:element name="XY_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="targy" type="xs:string"/>
                            <xs:element name="idopont">
                                <xs:complexType>
                                    <xs:attribute name="nap" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="hetfo"/>
                                                <xs:enumeration value="kedd"/>
                                                <xs:enumeration value="szerda"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tol" type="xs:string" use="required"/>
                                    <xs:attribute name="ig" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="helyszin" type="xs:string"/>
                            <xs:element name="oktato" type="xs:string"/>
                            <xs:element name="szak" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="tipus" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="eloadas"/>
                                    <xs:enumeration value="gyakorlat"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
